		<footer>
			<div class="container">
				<span class="col five leftInfo">
				
				<img src="./public/images/mdavisCoursesFooterLogo.png" alt="mdavisCoursesFooterLogo" width="150" height="150" align="left" />
				
				
				<p class="copyright">Copyright &copy; @current_year, @name <br /> All Rights Reserved.</p>
				

				
				<p class="credits"><strong>Credits:</strong><br />Content managed by <a href="http://www.staceyapp.com">Stacey @stacey_version</a>. Slideshows throughout the site use the <a href="http://backflip.github.com/jquery-carousel/">backflip/jQuery Carousel</a>. Built using CSS3, HTML5, and <a href="http://lesscss.org/">LESS</a></p>
				
				
				</span>
				
			
			
				<span class="col five">
				
				
				<h2 style="margin: 0px; padding: 0px;">Recent Items</h2>
					:category_list_footer
						
				</span>
				
				
				<span class="col two">

				<a class="atom-rss" href="@root_path/?/feed/">RSS</a>

				</span>
			</div>
		
		</footer>