		<footer>
			<div class="container">
				<span class="col five">
				
				<img src="./public/images/mdavisCourses-logo-gray.png" alt="mdavisCourses-logo-gray" width="122" height="80" align="left" />
				
				<br />
				<p>Copyright &copy; @current_year, @name,<br /> All Rights Reserved.</p>
				
				<em>Content managed by <a href="http://www.staceyapp.com">Stacey</a></em>
				
				</span>
				
			
			
				<span class="col five">
					<h2 style="margin: 0px; padding: 0px;">Recent Items</h2>
					:category_list_footer	
				</span>
				
				
				<span class="col two"><a class="atom-rss" href="@root_path/?/feed/">RSS</a></span>
			</div>
		
		</footer>