foreach $root do
  if $children do
    <div class="category">
	<p><em>@title</em></p>
    </div>
    
    <div>
    <ul class="project-list ">
    foreach $children do
    	<li>
    		<div class="thumbnail ">
    			<a href="@url">
    				<span class="title">@title</span>
    				<span class="description">@keywords</span>
    				<span class="date">@date</span>
    			</a>
    			
    			<img src="@thumb" alt="">
    		</div>
    		
    		
    		<!--
<div class="summary ">
    			<p><a href="@url">@title</a></p>
    			<p><em>@date</em></p>
    			<p><em class="background">@keywords</em></p>
    		</div>
-->
    		
    		
    	</li>
    endforeach
    </ul>
    </div>
   
  endif
endforeach