/* !Layout */

body {
	margin: 0px 0px 100px 0px;
	padding: 0px;
}

header {
	height: 70px;
	background-color: black;
	padding-top: 30px;
}

.logo {
	text-indent: -10000px;
	width: 122px;
	height: 80px;
	display: block;
	background: url(../../images/mdavisCourses-logo-white.png) top left no-repeat;
	margin-top: -26px;
}


/* !Colors */

a { color: #4D90FE; padding: 2px; margin: -2px; }
a:hover { color: white; background-color: #4D90FE; }

a.logo:hover {
	background-color: transparent;
}

.thumbnail a {
	background-color: transparent;
}

header em a { color: white; padding: 5px; margin: 0 10px; }
header em a:hover { color: white; background-color: #4D90FE; }

a.atom-rss {
	background-color: #4D90FE;
	color: white;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	padding: 5px;
}