/* Original Stacey CSS with a few changes */
/* Colours */

body { color: #222; }

em { color: #999; }	
em a { color: #666; }

em.background { color: #BBB; }

/* Typography */

body, input {
	font-family: "Proxima", "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
	line-height: 1.3;
	font-weight: normal;
	font-size: 1em;
}

ul li, p, em {font-style: normal; letter-spacing: -0.01em; }

h1, h2 { font-weight: bold;}

a { text-decoration: none; }

/* Layout */

body {
	padding: 10px 0px 40px;
	text-align: center;
}

.container {
	margin: 0px auto;
	width: 890px;
	padding: 5px 20px;
	text-align: left; 
	/* background: url('/images/grid-bg.gif') 20px 0px;*/
}

.col {
	float: left;
	margin: 0px /* 0px 0px 20px */;
	padding: 0px;
}

.col .col {
	margin: 0px;
}

.one		{ width: 60px;  }
.two		{ width: 140px; }
.three	{ width: 220px; }
.four	{ width: 300px; }
.five	{ width: 360px; margin-right: 20px; /* width: 380px; */ }
.six		{ width: 460px; }
.seven	{ width: 540px; }
.eight	{ width: 620px; }
.nine	{ width: 700px; }
.ten		{ width: 780px; }
.eleven	{ width: 860px; }
.twelve	{ width: 940px; }

h1 em, h2 em {
	display: block;
}

p, h2 {
	margin: 0px 0px 5px;
}

hr {
	display: block;
	clear: both;
	margin: 0px 0px 30px;
	padding: 0px;
	height: 0px;
	overflow: hidden;
	visibility: hidden;
}

a img {
	border: 0px;
}

.col hr {
	margin: 0px 0px 15px;
}

h2 {
	overflow: hidden;
}

input#filter {
	display: inline;
	width: auto;
	padding: 1px 0px;
	border: 0px;
	background: #eee;
	font-size: inherit;
	color: inherit;
}

#content ul.project-list {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	list-style: none;
	width: 640px;
}

#content ul.project-list li {
	margin: 0px 20px 0px 0px;
	float: left;
}

ul.project-list div.thumbnail a {
	border: 0px;
}

ul.project-list div.summary {
	margin: 0px 0px 0px 20px;
}

h2.title, div#content /* p.category, */ div#content /* ul.project-list li, */ div.description, p.para, div#images, /* div#media */ {
	border-top: 1px solid #ccc; padding: 20px 0px 0px;
}

/* div#content ul.project-list li { border-bottom: 1px solid #ccc; padding: 20px 0px; } */

#media {
	overflow: hidden;
}

.media {
	margin: 0px 0px 10px;
}

#content.description {
	margin: 0px 0px 0px 20px;
}

.description #media {
	margin: 0px 0px 10px;
	border: 0px;
	padding: 0px;
}

p#footer {
	margin: 0px 0px 0px 340px;
	display: inline;
	line-height: 1.4;
}
	
p#footer em { display: block; }

a.atom-rss { margin: 0px 0px 0px 6px; padding: 2px 3px 0px; font-size: 0.93em; letter-spacing: 0.08em; background: #ddd; }

/* Added from template 1 */

div#image-wrapper { overflow: hidden; width: 600px; }
div#image-wrapper div#image-holder { width: 100000000px; }
div#image-wrapper div#image-holder div.image { float: left; width: 560px; }

/* Javascript-enabled styles */
body.js-enabled p#gallery-count, body.js-enabled div#gallery-navigation { display: block; }
body.js-enabled p#project-count { display: none; }
body.js-enabled div#media div.image { display: none; }
body.js-enabled div#media div.image:first-child { display: block; }