<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@name | @title</title>
		:css
		
		<!--[if IE]>
     		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    		<![endif]--> 
	</head>
	<body>
	  <div id="wrapper">	
		<header>
			<div class="container">
				<h1 class="col five">
					<a href="@root_path/" class="logo">@name</a>
				</h1>
			
				<p class="col seven"><em>:pages</em></p>
				
			</div>
		</header>
		
		<div id="content" class="container" role="main">
			
			<div class="description col five">
				<h1>@title</h1>
				<p class="date">@date</p>
				<p>@keywords</p>
				<p>@description</p>
			</div>
			
			
			<div id="gallery-info" class="col">
				<p id="gallery-count" class="">
					<em>&#8470;</em> <span>1/1</span>
				</p>
				<div id="gallery-navigation"><p><em>&larr;</em> <a href="#" id="previous-image">Previous image</a> | <a href="#" id="next-image">Next image</a> <em>&rarr;</em></p></div>
			</div>
        
			<div class="col seven">
				:media
				
				@content
			</div>
			
		</div>

		<hr class="push">

		:footer
		
	  </div>
	  
	<script type="text/javascript" charset="utf-8">
      document.getElementsByTagName('body')[0].className += ' js-enabled';
	</script>

	<script src="@root_path/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="@root_path/public/docs/js/gallery.js" type="text/javascript" charset="utf-8"></script>
	<script src="@root_path/public/docs/js/init-gallery.js" type="text/javascript" charset="utf-8"></script>
	  
	</body>

</html>